[SddmGreeterTheme]
Name=Windows12-Dark-sddm
Description=windows dark like style
Author=zayronxio
Copyright=(c) 2022, zayronxio
License=gpl3.0
Type=sddm-theme
Version=0.1.2
Website=https://github.com/varlesh/rounded
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=Windows12-Dark-sddm
QtVersion=6
